@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Satisfy&display=swap');


/*general Styles*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*Body Styles*/
body {
    margin: 0;
    padding: 0;
}

/* Styles*/
header {
    display: grid;
    grid-template-columns: 120px 1fr;
    background-color:  #90b6ac ;
    max-height: 120px;
    
}
   
.logo {
    width: 180px;
    margin-top: -30px;
    margin-left: 20px;
}

nav {
    grid-column: 2/-1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -30px;
    
}

nav a {
    margin-left: 35px;
    font-size: 25px;
    text-decoration: none;
    color: white;
    font-family: Inconsolata, Helvetica, sans-serif;
}

nav a:hover {
    background: honeydew;
    color: black;
}

/*----------------------*/



.hero-box img {
    width: 100%;
    height: 100%;
}

.hero-msg {
    background-color: black;
    height: 75px
}

.hero-msg h1 {
    color: white;
    text-align: center;
    padding-top: 20px;
    font-family: "Satisfy";
    margin-top: -10px;
}


.text-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: Inconsolata, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
}


.customize {
    margin-top: 50px;
    text-align: center;
    
}

.store {
    margin-top: 50px;
    text-align: center;
}

button {
    margin-top: 25px;
    font-weight: bold;
    font-size: 24px;
    font-family: "Satisfy";
}

main {
    background-color: honeydew;
}

.home-img {
    max-width: 200px;
    max-height: 200px;
}


.home-galery {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.home-galery img {
    /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}
/*Footer*/

footer {
        background-color: #90b6ac;
        padding: 5px 25px;
        
        display: flex;
        align-items: center;
        justify-content: space-around;
        align-items: center;
}

footer a {
    
    text-decoration: none;
    color: white;
    font-family: Inconsolata, Helvetica, sans-serif;
}

footer p {
    
    color: white;
}




/*STORE PAGE*/


.galery {
    display: flex;
}

.galery img {
    flex-basis: auto;
    height: 120px;
    width: 130px;   
}

.galery img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}



.main-product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding-top: 38px;
    padding-bottom: 38px;
    background-color:honeydew
}

.main-product .main-img-container img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    
}

.main-product .main-img-container {
    justify-self:  right;
    padding-right: 80px;
}

.main-text {
    text-align: center;
}

.main-text h4 {
    font-family: Inconsolata;
    font-size: 20px;
}






@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
